[submodule "submodules/Unity"]
	path = submodules/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "submodules/librobotcontrol"]
	path = submodules/librobotcontrol
	url = https://github.com/MateoMiguelez/librobotcontrol.git
[submodule "submodules/librobotcontrol/"]
	url = https://github.com/jsanjinesUPM/librobotcontrol.git
[submodule "librobotcontrol/"]
	url = https://github.com/MateoMiguelez/librobotcontrol.git
